<?xml version = "1.0" encoding = "UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.solvd.hospital.dao.interfaces.IUserDao">
    <update id = "create" parameterType = "com.solvd.hospital.models.classes.User">
        INSERT INTO Users(login, password, name, surname, middle_name, role) values (#{login}, #{password}, #{name},
        #{surname}, #{middleName}, #{role})
    </update>

    <select id="getById" parameterType="int" resultMap="UserGet">
        Select users.id, login, password, name, surname, middle_name, role,
        records.id From Users LEFT JOIN Records on users.id = records.patient_id
        Where users.id = #{id}
    </select>

    <select id="getUsers" resultMap="UserGet">
        Select users.id, login, password, name, surname, middle_name, role,
        records.id From Users LEFT JOIN Records on users.id = records.patient_id
    </select>

    <resultMap id="UserGet" type="com.solvd.hospital.models.classes.User" autoMapping="false">
        <id column="users.id" property="id"/>
        <result column="login" property="login"/>
        <result column="password" property="password"/>
        <result column="name" property="name"/>
        <result column="surname" property="surname"/>
        <result column="middle_name" property="middleName"/>
        <result column="role" property ="role"/>
        <collection property="listOfRecordsId" ofType="INTEGER">
            <id column="records.id" property="id"/>
        </collection>
    </resultMap>

    <update id="remove" parameterType = "int">
        Delete From Users where id = #{id}
    </update>
    <update id="update" parameterType = "com.solvd.hospital.models.classes.User">
        Update Users Set login = #{login} , password =#{password} , name = #{name}, surname = #{surname},
        middle_name = #{middleName}, role = #{role} Where id =#{id}
    </update>
</mapper>